<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header.html::header"/>
<body>
<div th:replace="common/navbar.html::navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="検索ワードを入力…" name="keyword">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">検索</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="padding: 5px;" th:each="item : ${items}" th:object="${item}">
            <div class="card" style="height: 18rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8" style="width: 10em;">
                            <h5 class="card-title contract" th:text="*{name}"></h5>
                        </div>
                        <div class="col-md-4">
                            <a th:href="@{/items/{id}(id=*{id})}">
                                <button class="btn btn-sm btn-outline-primary">
                                    詳細
                                </button>
                            </a>
                        </div>
                    </div>
                    <h6 class="card-subtitle">[[*{price}]] Yen</h6>
                    <p class="card-text mt-2" th:text="*{description}" style="height: 12rem;"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>