<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header.html::header"/>
<body>
<div th:replace="common/navbar.html::navbar"></div>
<div class="container">
    <form>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="検索ワードを入力…" name="keyword">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">検索</button>
                </div>
            </div>
        </div>
    </form>
    <p th:if="isSearching == 'true'">
        検索結果： [[${count}]] 件
    </p>
    <div class="row">
        <div class="col-md-4" style="padding: 5px;" th:each="item : ${items}" th:object="${item}">
            <div class="card" style="height: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" th:text="*{name}"></h5>
                    <h6 class="card-subtitle">[[*{price}]] Yen</h6>
                    <p class="card-text" th:text="*{description}" style="height: 8rem;"></p>
                    <a th:href="@{/items/{id}(id=*{id})}">
                        <button class="btn btn-outline-primary">
                            詳細
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>